.logoan{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    -webkit-animation: girar 2s linear infinite;
    -o-animation: girar 2s linear infinite;
    animation: girar 2s linear infinite;
}

.cuadrado1{
    border-radius: 20px;
    position: absolute;
    top:490px;
    left: 0px;
    width: 960px;
    height: 55px;
    background: white;
    animation-name: mover1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease;
    animation-delay: 1s;
}

.cuadrado2{
    border-radius: 20px;
    position: absolute;
    top:540px;
    right: 0px;
    width: 960px;
    height: 55px;
    background: white;
    animation-name: mover2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease;
    animation-delay: 1s;
}

@keyframes girar {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@keyframes mover1 {
    from{transform: translate(0px);}
    to{transform: translate(960px);}
}

@keyframes mover2 {
    from{transform: translate(0px);}
    to{transform: translate(-960px);}
}
@media screen and (max-width:1280px) and (max-height:720px){
    .cuadrado1{
        top:310px;
        left: 0px;
        width: 640px;
        height: 55px;

    }
    
    .cuadrado2{
        top:360px;
        right: 0px;
        width: 640px;
        height: 55px;

    }
    
    @keyframes girar {
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
    }
    
    @keyframes mover1 {
        from{transform: translate(0px);}
        to{transform: translate(640px);}
    }
    
    @keyframes mover2 {
        from{transform: translate(0px);}
        to{transform: translate(-640px);}
    }
}
@media screen and (max-width:1080px) and (max-height:1920px){
    .cuadrado1{
        top:910px;
        left: 0px;
        width: 540px;
        height: 55px;

    }
    
    .cuadrado2{
        top:960px;
        right: 0px;
        width: 540px;
        height: 55px;

    }
    
    @keyframes girar {
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
    }
    
    @keyframes mover1 {
        from{transform: translate(0px);}
        to{transform: translate(540px);}
    }
    
    @keyframes mover2 {
        from{transform: translate(0px);}
        to{transform: translate(-540px);}
    }
}
@media screen and (max-width:720px) and (max-height:1280px){
    .cuadrado1{
        top:590px;
        left: 0px;
        width: 360px;
        height: 55px;

    }
    
    .cuadrado2{
        top:640px;
        right: 0px;
        width: 360px;
        height: 55px;

    }
    
    @keyframes girar {
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
    }
    
    @keyframes mover1 {
        from{transform: translate(0px);}
        to{transform: translate(360px);}
    }
    
    @keyframes mover2 {
        from{transform: translate(0px);}
        to{transform: translate(-360px);}
    }
}