/*CSS DESKTOP 1920x1080 */
#pag{
    visibility: hidden;
}
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height:1080px;
    background-color: #add8e6;
    top:0;
}
header{
    display: flex;
    width: 100vw;
}
header h1{
    margin: 3vw 30vw 0px 30vw;
    font-size: 3vw;
    font-family: 'Ubuntu', sans-serif;
    color:#49416d;
}
.contenedor-logo{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo{
    margin: 3vw 3vw;

}
.caja{
    display: inline-block;
    width: 100%;
    height: 60vw;
}
.texto-ingresado{
    width: 60%;
    margin-left: 100px;
    margin-right: 100px;
}
.texto-ingresado textarea{
    background-color: #add8e6;
    resize: none;
    border: none;
    width: 100%;
    font-size: 2vw;
    color:#49416d;
}
.texto-ingresado textarea:focus{
    outline: none;
}
.texto-ingresado textarea::placeholder{
    color:#49416d;
    text-decoration: underline dashed;
}
.muñeco{
    position: absolute;
    top: 3vw;
    right: 2vw;
    bottom: 3vw;
    background-color: white;
    padding: 40px;
    border:none;
    height: 80vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
    max-width: 20vw;
    width: 100%;
}   
.muñeco:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.muñeco img{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 339px;
    max-height: 304px;
    width: 100%;
    height: 100%;
}
.muñeco h2{
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
    padding: 20px;
}

.muñeco p{
    font-size: 1vw;
    color: gray;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline dashed;
    transition: 0.5s all;
}
.muñeco p:hover{
    transform: scale(1.1);
    color: black;
}
.muñeco button{
    visibility: hidden;
    position: absolute;
    bottom: 20vw;
    left:50vw;
    font-size: 20px;
    width: 300px;
    height: 70px;
    border: solid 1px gray;
    border-radius: 20px;
    transition: 0.5s all;

}
.muñeco button:hover{
    background-color: #49416d;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.muñeco textarea{
    display:none;
}
.botones-contenedor{
    padding: 10px;
    margin-left: 4vw;
}
.botones-contenedor p{
    margin: 25px;
    margin-top: 25px;
    font-size: 2vw;
}
.botones-contenedor button{
    font-size: 30px;
    width: 550px;
    height: 70px;
    margin: 0px 2vw 1vw 2vw;
    border: solid 1px gray;
    border-radius: 20vw;
    transition: 0.5s all;
}
.botones-contenedor button:hover{
    background-color: #49416d;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
footer{
    font-family: 'Moon Dance', cursive;
    font-size: 4vw;
    color: #49416d;
    display: flex;
    padding-top: 10px;
    max-width: 100%;
    width: 1920px;
    max-height: 100%;
    justify-content: center;
    object-fit: contain;
    text-align: center;
    align-items: baseline;
}
footer img{
    padding-top: 10px ;
    height: 20px;
    width: 20px;
    transition: all 0.5s;
}
footer img:hover{
    transform: scale(1.5);
}
@media only screen and (max-width: 320px){
    body{
        max-width: 320px;
    }
    header h1{
        font-size: 7vw;
        margin: 10vw 30vw 0px 20vw;
    }
    .caja{
        display: inline-block;
        width: 320px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 25px;
    }
    .texto-ingresado textarea{
        font-size: 3vw;
    }
    .muñeco{
        top: 90vw;
        left: 3.5vw;
        height: 45vw;
        max-width: 65vw;
    }  
    .muñeco img{
        display: none;
    }
    .muñeco h2{
        font-weight: bolder;
        font-size: 4vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 3vw;
    }
    .muñeco button{
        width: 150px;
        height: 30px;
        left:70px;
        bottom: 10px;
        font-size: 10px;
    }
    .botones-contenedor button{
        font-size: 10px;
        width: 40vw;
        height: 30px;
        margin: 0px 2vw 1vw 2vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
        margin-top: 70vw;
    }
}
@media only screen and ((max-width: 375px) and (min-width: 321px)){
    body{
        max-width: 375px;
    }
    header h1{
        font-size: 7vw;
        margin: 10vw 30vw 0px 20vw;
    }
    .caja{
        display: inline-block;
        width: 375px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 25px;
    }
    .texto-ingresado textarea{
        font-size: 3vw;
    }
    .muñeco{
        top: 85vw;
        left: 6vw;
        height: 45vw;
        max-width: 65vw;
    }  
    .muñeco img{
        display: none;
    }
    .muñeco h2{
        font-weight: bolder;
        font-size: 4vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 3vw;
    }
    .muñeco button{
        width: 150px;
        height: 30px;
        left:85px;
        bottom: 10px;
        font-size: 10px;
    }
    .botones-contenedor button{
        font-size: 10px;
        width: 40vw;
        height: 30px;
        margin: 0px 2vw 1vw 2vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
        margin-top: 70vw;
    }
}
@media only screen and (max-width: 425px) and (min-width:376px){
    body{
        max-width: 425px;
    }
    header h1{
        font-size: 7vw;
        margin: 10vw 30vw 0px 20vw;
    }
    .caja{
        display: inline-block;
        width: 425px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 25px;
    }
    .texto-ingresado textarea{
        font-size: 3vw;
    }
    .muñeco{
        top: 80vw;
        left: 6vw;
        height: 45vw;
        max-width: 65vw;
    }  
    .muñeco img{
        display: none;
    }
    .muñeco h2{
        font-weight: bolder;
        font-size: 4vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 3vw;
    }
    .muñeco button{
        width: 150px;
        height: 30px;
        left:100px;
        bottom: 10px;
        font-size: 10px;
    }
    .botones-contenedor button{
        font-size: 10px;
        width: 40vw;
        height: 30px;
        margin: 0px 2vw 1vw 2vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
        margin-top: 70vw;
    }
}
@media only screen and (max-width: 768px) and (min-width:426px){
    body{
        max-width: 768px;
    }
    header h1{
        font-size: 3vw;
        margin: 5vw 30vw 0px 30vw;
    }
    .caja{
        display: inline-block;
        width: 768px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 55px;
    }
    .texto-ingresado textarea{
        font-size: 2vw;
    }
    .muñeco{
        top: 5vw;
        right: 6vw;
        height: 35vw;
        max-width: 25vw;
    }  
    .muñeco img{
        display: none;
    }
    .muñeco h2{
        font-weight: bolder;
        font-size: 3vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 1.5vw;
    }
    .muñeco button{
        width: 150px;
        height: 30px;
        left:70px;
        bottom: 10px;
        font-size: 10px;
    }
    .botones-contenedor button{
        font-size: 2vw;
        width: 40vw;
        height: 5vw;
        margin: 0px 2vw 1vw 2vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
    }
}
@media only screen and (max-width: 992px) and (min-width:769px){
    body{
        max-width: 992px;
    }
    header h1{
        font-size: 3vw;
        margin: 5vw 30vw 0px 30vw;
    }
    .caja{
        display: inline-block;
        width: 768px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 55px;
    }
    .texto-ingresado textarea{
        font-size: 2vw;
    }
    .muñeco{
        top: 5vw;
        right: 6vw;
        height: 40vw;
        max-width: 25vw;
    }  

    .muñeco h2{
        font-weight: bolder;
        font-size: 2vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 1.5vw;
    }
    .muñeco button{
        width: 200px;
        height: 50px;
        left:65px;
        bottom: 10px;
        font-size: 20px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 1vw;
    }
    .botones-contenedor button{
        font-size: 2vw;
        width: 25vw;
        height: 5vw;
        margin: 0px 1vw 1vw 1vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
    }
}
@media only screen and (max-width: 1200px) and (min-width:993px){
    body{
        max-width: 1200px;
    }
    header h1{
        font-size: 3vw;
        margin: 5vw 30vw 0px 30vw;
    }
    .caja{
        display: inline-block;
        width: 768px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 55px;
    }
    .texto-ingresado textarea{
        font-size: 2vw;
    }
    .muñeco{
        top: 3vw;
        left: 65vw;
        height: 40vw;
        max-width: 25vw;
    }  

    .muñeco h2{
        font-weight: bolder;
        font-size: 2vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 1.5vw;
    }
    .muñeco button{
        width: 200px;
        height: 50px;
        left:85px;
        bottom: 10px;
        font-size: 20px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 1vw;
    }
    .botones-contenedor button{
        font-size: 2vw;
        width: 25vw;
        height: 5vw;
        margin: 0px 1vw 1vw 1vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
    }
}
@media only screen and (max-width: 1920px) and (min-width:1201px){
    body{
        max-width: 1920px;
    }
    header h1{
        font-size: 3vw;
        margin: 5vw 30vw 0px 30vw;
    }
    .caja{
        display: inline-block;
        width: 768px;
        height: 30vw;
    }
    .texto-ingresado{
        width: 70%;
        margin-left: 55px;
    }
    .texto-ingresado textarea{
        font-size: 2vw;
    }
    .muñeco{
        top: 3vw;
        left: 65vw;
        height: 40vw;
        max-width: 25vw;
    }  

    .muñeco h2{
        font-weight: bolder;
        font-size: 2vw;
        text-align: center;
        padding: 10px;
    }
    .muñeco p{
        font-size: 1.5vw;
    }
    .muñeco button{
        width: 300px;
        bottom: 20vw;
        left:5vw;
        bottom: 20px;
        font-size: 20px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 1vw;
    }
    .botones-contenedor button{
        font-size: 2vw;
        width: 25vw;
        height: 5vw;
        margin: 0px 1vw 1vw 1vw;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        padding-top: 10px;
        max-width: 100%;
        width: 100vw;
        max-height: 100%;
    }
}