/*CSS DESKTOP 1920x1080 */
#pag{
    visibility: hidden;
}
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height:1080px;
    background-color: #add8e6;
    top:0;
}
header{
    display: flex;
    width: 100vw;
}
header h1{
    margin: 3vh 30vw 0px 30vw;
    font-size: 3vw;
    font-family: 'Ubuntu', sans-serif;
    color:#49416d;
}
.contenedor-logo{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo{
    margin: 3vh 3vw;

}
.caja{
    display: inline-block;
    width: 100%;
    height: 60vh;
}
.texto-ingresado{
    width: 60%;
    margin-left: 100px;
    margin-right: 100px;
}
.texto-ingresado textarea{
    background-color: #add8e6;
    resize: none;
    border: none;
    width: 100%;
    font-size: 2vw;
    color:#49416d;
}
.texto-ingresado textarea:focus{
    outline: none;
}
.texto-ingresado textarea::placeholder{
    color:#49416d;
    text-decoration: underline dashed;
}
.muñeco{
    position: absolute;
    top: 3vh;
    right: 2vw;
    bottom: 3vh;
    background-color: white;
    padding: 40px;
    border:none;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
    max-width: 20vw;
    width: 100%;
}   
.muñeco:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.muñeco h2{
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
    padding: 20px;
}
.muñeco img{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 339px;
    max-height: 304px;
    width: 100%;
    height: 100%;
}
.muñeco p{
    font-size: 1vw;
    color: gray;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline dashed;
    transition: 0.5s all;
}
.muñeco p:hover{
    transform: scale(1.1);
    color: black;
}
.muñeco button{
    visibility: hidden;
    position: absolute;
    bottom: 50px;
    left:90px;
    font-size: 20px;
    width: 300px;
    height: 70px;
    border: solid 1px gray;
    border-radius: 20px;
    transition: 0.5s all;

}
.muñeco button:hover{
    background-color: #49416d;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.muñeco textarea{
    display:none;
}
.botones-contenedor{
    padding: 10px;
    margin-left: 3vw;
}
.botones-contenedor p{
    margin: 25px;
    margin-top: 25px;
    font-size: 2vh;
}
.botones-contenedor button{
    font-size: 2vw;
    width: 30vw;
    height: 10vh;
    margin: 0px 1vw 1vh 1vw;
    border: solid 1px gray;
    border-radius: 20vw;
    transition: 0.5s all;
}
.botones-contenedor button:hover{
    background-color: #49416d;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
footer{
    font-family: 'Moon Dance', cursive;
    font-size: 2vw;
    color: #49416d;
    display: flex;
    padding-top: 10px;
    max-width: 100%;
    width: 1920px;
    max-height: 100%;
    justify-content: center;
    object-fit: contain;
    text-align: center;
    align-items: baseline;
}
footer img{
    padding-top: 10px ;
    height: 20px;
    width: 20px;
    transition: all 0.5s;
}
footer img:hover{
    transform: scale(1.5);
}
@media screen and (max-width:1280px) and (max-height:720px) {
    body{
        max-width: 1280px;
        max-height:720px;
    }
    .caja{
        display: inline-block;
        width: 100%;
        height: 65vh;
    }
    .texto-ingresado{
        width: 50%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .muñeco img{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 339px;
        max-height: 304px;
    }
    .muñeco button{
        visibility: hidden;
        position: absolute;
        bottom: 50px;
        left:45px;
        font-size: 20px;
        width: 20vw;
        height: 70px;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    
    }
    footer{
        width: 1280px;
    }
}
/*Celulares*/
@media screen and (max-width:1080px) and (max-height:1920px) {
    body{
        max-width: 1080px;
        max-height: 1920px;
    }
    .caja{
        display: inline-block;
        width: 100%;
        height: 15vh;
    }
    .texto-ingresado{
        width: 50%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .muñeco{
        position: absolute;
        top: 650px;
        left: 50px;
        right: 50px;
        bottom: 3vh;
        background-color: white;
        padding: 40px;
        border:none;
        height: 40vh;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s all;
        max-width: 80vw;
        width: 100%;
    }   
    .muñeco img{
        padding: 20px;
        margin: 20px 200px 20px 200px;
        max-width: 339px;
        max-height: 304px;
    }
    .muñeco p{
        font-size: 25px;
        color: gray;
        margin-top: 30px;
        text-align: center;
        text-decoration: underline dashed;
        transition: 0.5s all;
    }
    .muñeco h2{
        font-weight: bolder;
        font-size: 40px;
        text-align: center;
        padding: 20px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 15px;
    }
    .texto-ingresado textarea{
        background-color: #add8e6;
        resize: none;
        border: none;
        width: 100%;
        font-size: 30px;
        color:#49416d;
    }
    .botones-contenedor button{
        font-size: 30px;
        width: 370px;
        height: 70px;
        margin: 0px 20px 20px 20px;
        border: solid 1px gray;
        border-radius: 20vw;
        transition: 0.5s all;
    }
    .botones-contenedor{
        padding: 10px;
        margin-left: 100px;
    }
    .muñeco button{
        visibility: hidden;
        position: absolute;
        bottom: 50px;
        left:310px;
        font-size: 30px;
        width: 300px;
        height: 70px;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    
    }
    .texto-ingresado{
        width: 75%;
        height: 100%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .texto-ingresado textarea{
        background-color: #add8e6;
        resize: none;
        border: none;
        width: 100%;
        height: 100%;
        color:#49416d;
    }
    footer{
        margin-top: 900px;
        width: 1080px;
        font-size: 30px;
    }
}
@media screen and (max-width:720px) and (max-height:1280px) {
    body{
        max-width: 720px;
        max-height: 1280px;
    }
    .caja{
        display: inline-block;
        width: 100%;
        height: 15vh;
    }
    .texto-ingresado{
        width: 50%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .muñeco{
        position: absolute;
        top: 650px;
        left: 30px;
        right: 50px;
        bottom: 3vh;
        background-color: white;
        padding: 40px;
        border:none;
        height: 30vh;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s all;
        max-width: 80vw;
        width: 100%;
    }   
    .muñeco img{
        display: none;
        padding: 20px;
        margin: 20px 100px 20px 100px;
        max-width: 339px;
        max-height: 304px;
    }
    .muñeco p{
        font-size: 25px;
        color: gray;
        margin-top: 30px;
        text-align: center;
        text-decoration: underline dashed;
        transition: 0.5s all;
    }
    .muñeco h2{
        font-weight: bolder;
        font-size: 40px;
        text-align: center;
        padding: 20px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 15px;
    }
    .texto-ingresado textarea{
        background-color: #add8e6;
        resize: none;
        border: none;
        width: 100%;
        font-size: 30px;
        color:#49416d;
    }
    .botones-contenedor button{
        font-size: 30px;
        width: 550px;
        height: 70px;
        margin: 0px 20px 20px 20px;
        border: solid 1px gray;
        border-radius: 20vw;
        transition: 0.5s all;
    }
    .botones-contenedor{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 50px;
    }
    .muñeco button{
        visibility: hidden;
        position: absolute;
        bottom: 50px;
        left:200px;
        font-size: 30px;
        width: 300px;
        height: 70px;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    
    }
    .texto-ingresado{
        width: 75%;
        height: 100%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .texto-ingresado textarea{
        background-color: #add8e6;
        resize: none;
        border: none;
        width: 100%;
        height: 100%;
        color:#49416d;
    }
    footer{
        margin-top: 520px;
        width: 720px;
        font-size: 30px;
    }
}