/*CSS DESKTOP*/
#pag{
    visibility: hidden;
}
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    position: absolute;
    width: 1440px;
    max-width: 1440px;
    height: 900px;
    max-height:900px ;
    background-color: #add8e6;
    top:0;
}
header{
    display: flex;
}
header h1{
    margin: 50px 0px 0px 500px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color:#49416d;
}
.contenedor-logo{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo{
    margin: 40px;

}
.caja{
    display: inline-block;
    width: 1440px;
    height: 500px;
}
textarea{
    width: 621px;
    height: 525px;
}
.texto-ingresado{
    margin-left: 100px;
    margin-right: 100px;
}
.texto-ingresado textarea{
    background-color: #add8e6;
    resize: none;
    border: none;
    font-size: 30px;
    color:#49416d;
}
.texto-ingresado textarea:focus{
    outline: none;
}
.texto-ingresado textarea::placeholder{
    color:#49416d;
    text-decoration: underline dashed;
}
.muñeco{
    position: absolute;
    top: 50px;
    right: 50px;
    left: 900px;
    bottom: 50px;
    background-color: white;
    padding: 40px;
    border:none;
    height: 650px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
    max-width: 400px;
}   
.muñeco:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.muñeco h2{
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
.muñeco img{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.muñeco p{
    font-size: 25px;
    color: gray;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline dashed;
    transition: 0.5s all;
}
.muñeco p:hover{
    transform: scale(1.1);
    color: black;
}
.muñeco button{
    visibility: hidden;
    position: absolute;
    bottom: 50px;
    left:90px;
    font-size: 20px;
    width: 300px;
    height: 70px;
    border: solid 1px gray;
    border-radius: 20px;
    transition: 0.5s all;

}
.muñeco button:hover{
    background-color: #49416d;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.muñeco textarea{
    display:none;
}
.botones-contenedor{
    padding: 10px;
    margin-left: 120px;
}
.botones-contenedor p{
    margin: 25px;
    margin-top: 25px;
    font-size: 15px;
}
.botones-contenedor button{
    font-size: 20px;
    width: 300px;
    height: 70px;
    margin: 0px 20px 20px 20px;
    border: solid 1px gray;
    border-radius: 20px;
    transition: 0.5s all;
}
.botones-contenedor button:hover{
    background-color: #49416d;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
footer{
    font-family: 'Moon Dance', cursive;
    font-size: 30px;
    color: #49416d;
    display: flex;
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    object-fit: contain;
    text-align: center;
    align-items: baseline;
}
footer img{
    padding-top: 10px ;
    height: 20px;
    width: 20px;
    transition: all 0.5s;
}
footer img:hover{
    transform: scale(1.5);
}
/*CSS CELULAR*/
@media screen and (max-width: 376px) {
    body{
        position: absolute;
        width: 375px;
        max-width: 375px;
        height: 933px;
        max-height:933px ;
        background-color: #add8e6;
    }
    .caja{
        display: inline-block;
        width: 350px;
        height: 500px;
    }
    .texto-ingresado{
        margin-left: 25px;
        margin-right: 25px;
    }
    textarea{
        width: 350px;
        height: 500px;
        border: none;
    }
    .muñeco{
        position: absolute;
        top: 900px;
        left: 25px;
        background-color: white;
        padding: 40px;
        border:none;
        height: 100px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s all;
        width: 270px;
    }   
    .muñeco:hover{
        transform: scale(1.01);
        box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .muñeco h2{
        position:absolute;
        top: 10px;
        right: 15px;
        font-weight: bolder;
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }
    .muñeco img{
        opacity: 0;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .muñeco p{
        position:absolute;
        top: 70px;
        right: 15px;
        font-size: 15px;
        color: gray;
        margin-top: 20px;
        text-align: center;
        text-decoration: underline dashed;
        transition: 0.5s all;
    }
    .muñeco p:hover{
        transform: scale(1.1);
        color: black;
    }
    .botones-contenedor{
        padding: 10px;
        margin-left: 10px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 10px;
    }
    .botones-contenedor button{
        font-size: 20px;
        width: 325px;
        height: 70px;
        margin: 0px 20px 20px 20px;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    footer{
        font-family: 'Moon Dance', cursive;
        font-size: 30px;
        color: #49416d;
        display: flex;
        padding-top: 10px;
        margin-top: 200px;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
        object-fit: contain;
        text-align: center;
        align-items: baseline;
    }
}
/*CSS TABLET*/
@media screen and (max-width: 768px) and (min-width: 377px) {
    body{
        position: absolute;
        width: 768px;
        max-width: 768px;
        height: 1024px;
        max-height:1024px ;
        background-color: #add8e6;
    }
    header{
        display: flex;
    }
    header h1{
        margin: 50px 0px 0px 200px;
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        color:#49416d;
    }
    .caja{
        display: inline-block;
        width: 768px;
        height: 500px;
    }
    .texto-ingresado{
        margin-left: 25px;
        margin-right: 25px;
    }
    textarea{
        width: 720px;
        height: 500px;
        border: none;
    }
    .muñeco{
        position: absolute;
        top: 820px;
        left: 25px;
        background-color: white;
        padding: 180px 180px 0px 180px;
        border:none;
        height: 100px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s all;
    }   
    .muñeco:hover{
        transform: scale(1.01);
        box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .muñeco h2{
        position:absolute;
        top: 10px;
        right: 100px;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
    .muñeco img{
        opacity: 0;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .muñeco p{
        position:absolute;
        top: 70px;
        right: 60px;
        font-size: 25px;
        color: gray;
        margin-top: 20px;
        text-align: center;
        text-decoration: underline dashed;
        transition: 0.5s all;
    }
    .muñeco p:hover{
        transform: scale(1.1);
        color: black;
    }
    .botones-contenedor{
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .botones-contenedor p{
        margin: 25px;
        margin-top: 25px;
        font-size: 20px;
    }
    .botones-contenedor button{
        font-size: 20px;
        width: 325px;
        height: 70px;
        margin: 0px 20px 20px 20px;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    }
    .muñeco button{
        visibility: hidden;
        position: absolute;
        bottom: 50px;
        left:200px;
        font-size: 20px;
        width: 300px;
        height: 70px;
        border: solid 1px gray;
        border-radius: 20px;
        transition: 0.5s all;
    
    }
    footer{
        font-family: 'Moon Dance', cursive;
        font-size: 40px;
        color: #49416d;
        display: flex;
        padding-top: 10px;
        margin-top: 300px;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
        object-fit: contain;
        text-align: center;
        align-items: baseline;
    }
    footer img{
        padding-top: 10px ;
        height: 30px;
        width: 30px;
        transition: all 0.5s;
    }
}